.grid {
    padding: 1rem;
    border-width: .2rem .2rem 0;
    border-left: 0.12rem solid #ececec;
    border-right: 0.12rem solid #ececec;
    border-bottom: 0.12rem solid #ececec;
}
.grid-loader {
    margin-top: 200px;
    text-align: center;
    height:100vh;
}
.grid-noproducts {
    text-align: center;
    margin-top:100px;
}