.product__category {
    margin-left:0.5rem;
}
.read-more-button {
    color: #4a9ee8;
    cursor: pointer;
}
.product__image-container {
    overflow:hidden;
}
.product.card .product__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    display: none;
    color: #FFF;
    text-align: center;
    padding-top: 70px;
}
.product.card .product__image-overlay a {
    color:#cacaca;
}
.product.card:hover .product__image-overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}
a.product__remove {
    margin-left:2rem;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}
@media (min-width: 768px){
    .card-columns {
        column-count: 3;
    }
}
@media (min-width: 1100px){
    .card-columns {
        column-count: 4;
    }
}
@media (min-width: 1300px){
    .card-columns {
        column-count: 5;
    }
}