.navbar-light .navbar-brand {
    font-size:1.8rem;
    color:rgba(10, 106, 179, 0.9);
}
.unreal-tracker__header {
    border-bottom:0.22rem solid #ececec;
    margin: 0 -15px;
}
.unreal-tracker__header .list-selector {
    margin-right:1rem;
    padding: .5rem 0;
}
.unreal-tracker__twitter {
    margin: .5rem 1rem;
}