.filters {
    border-radius: 8px 8px 0 0;
    z-index: 999;
}
.filters__filterbar {
    width:100%;
}
.filters__filterbar h5 {
    color:#fff;
    margin-bottom: 0;
    line-height: 2.4rem;
}
.filters__filterbar-category .dropdown-menu > .dropdown-item:not(:nth-child(-n+2)) {
    color:#fff;
}
.filters__filterbar .nav-link{
    color: #cacaca;
    font-weight: 700;
}
.filters__filterbar .nav-link:hover {
    color: #0a9ffd;
    text-decoration: underline;
}
.filters__filterbar .nav-link.active {
    color: #0a9ffd;
}
/* TAGS FILTER STYLE */
.filters__filterbar-includetags {
    width:auto;
    max-width: 310px;
    min-width: 190px;
}
.filters__filterbar-includetags .item-renderer span {
    text-transform: capitalize;
}
.filters__filterbar-includetags > .multi-select > .dropdown > .dropdown-heading {
    background-color: transparent!important;
    border-width: 0!important;
    color:rgba(255,255,255,.5)!important;
    display: block!important;
}
.filters__filterbar-includetags .dropdown-heading-value {
    color:rgba(255,255,255,.5)!important;
    line-height: 2.5rem!important;
    left:auto!important;
    right:auto!important;
    position:relative!important;
    font-weight: 700;
}
.filters__filterbar-includetags .dropdown-heading-loading-container {
    display:inline!important;
}
.filters__filterbar-includetags .dropdown-heading-dropdown-arrow {
    display:inline!important;
    top: -3px;
}
.filters__filterbar-includetags .dropdown-heading-value span:hover {
    text-decoration: underline;
    cursor: pointer;
    color:rgba(255,255,255,.75);
}
/* Keyword filter */
.keywordfilter__clearbtn, .keywordfilter__clearbtn:hover {
    background-color: #fff;
    border-top: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-left:0;
    padding: 0.3rem;
    color:#6c757d;
}
.keywordfilter__searchinput input {
    border-right:0;
}

/* Advanced filter */
@media (min-width: 992px) {
    .filters__filterbar-advancedfilter .dropdown-menu {
        width: calc(100vw - (100vw - 925px));
        right: -220px;
    }
}
@media (min-width: 1200px) {
    .filters__filterbar-advancedfilter .dropdown-menu {
        width: calc(100vw - (100vw - 1113px));
        right: -405px;
    }
}
