.faq-page {
    box-shadow: #ececec 1px 1px 20px -4px;
    min-height:100vh;
}
.faq-page > .row {
    margin-top:40px
}
.faq-page .card-header {
    cursor: pointer;
}
.faq-page .card-header {
    background-color: rgb(60 55 55);
    color:#fff;
}